certifi>=2025.8.3
cffi>=1.17.1
charset-normalizer>=3.4.3
colorama>=0.4.6
cryptography>=45.0.6
idna>=3.10
pip>=25.1.1
psycopg2-binary>=2.9.10
pycparser>=2.22
pyjwt>=2.10.1
requests>=2.32.4
urllib3>=2.5.0
uv>=0.8.9
